/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and padding for everything */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form inputs naturally */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Remove default list styles (super helpful for navigation sidebars) */
ul,
ol {
  list-style: none;
}
